<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What makes me tick?</h2>
        <h4><ul>
        <li>I worked on prototype military vehicles.</li>
        <li>I traveled to 25 countries.</li>
        <li>I cooked in some of the best restaurants in America.</li>
        <li>I lived in Vietnam for a year and a half.</li>
        </ul></h4>
        <h2>Now I am looking for my next challenge.</h2>
        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
