<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Graham Stein</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#visualizations" onclick = $("#menu-close").click(); >Visualizations</a>
    </li>
    <li>
      <a href="#code" onclick = $("#menu-close").click(); >Code</a>
    </li>
    <li>
      <a href="#resume" onclick = $("#menu-close").click(); >Resume</a>
    </li>
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
