<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>

<!-- d3 Minified JavaScript -->
<script src="js/d3.v5.min.js"></script>

<!-- d3 Scale Chromatics JavaScript -->
<script src="js/d3-scale-chromatic.v1.min.js"></script>

<!-- d3 Tooltip JavaScript -->
<script src="js/d3-tip.min.js"></script>

<!-- Topo JSON JavaScript -->
<script src="js/topojson.v2.min.js"></script>
