<section id="visualizations" class="visualizations">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Data Visualizations:</h2>
        <hr class="small">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="assets/Q2/graph.html">
                <img class="img-portfolio img-responsive" src="img/visualizations-1.jpg" width="400">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="assets/Q6/q6.html">
                <img class="img-portfolio img-responsive" src="img/visualizations-2.jpg" width="400">
              </a>
            </div>
          </div>
        </div>
      </div>

          <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="assets/Q4/heatmap.html">
                <img class="img-portfolio img-responsive" src="img/visualizations-3.jpg" width="400">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="assets/Q5/interactive.html">
                <img class="img-portfolio img-responsive" src="img/visualizations-4.jpg" width="400">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
